.ExperienceList__experience {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
    transition: opacity var(--trans-dur);
    z-index: 1;
    position: relative;
}

.ExperienceList__input {
    border-radius: 5px;
    padding: 6px 10px 7px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 18px;
    color: var(--c-t);
    background-color: var(--c-bg-2);
    margin: 0 7px 0 0;
}

.ExperienceList__input:last-child {
    margin: 0;
}

.ExperienceList__name {
    flex: 1 1 auto;
}

.ExperienceList__button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--c-bg-line);
    width: 38px;
    height: 38px;
}

.ExperienceList__button:hover {
    background: var(--c-hover-2);
    color: black;
}

.ExperienceList__newExperience {
    opacity: 0.5;
    animation: newService 0.4s;
    z-index: 0;
}

@keyframes newService {
    0% {
        top: -30px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 0.5;
    }
}