.profile__body {
    display: flex;
}

.profile {
    padding: 30px 0 0 0;
}

.profile__actions_fake {
    min-width: 300px;
    margin: 0 40px 0 -20px;
}


.profile__actions {
    position: fixed;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 -20px;
}

.profile__button {
    transition: none;
    text-align: left;
    position: relative;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
}

.profile__button:hover {
    background-color: var(--c-hover);
}

.profile__button:hover::after{
    content: none; 
} 

.profile__button.profile__button_selected {
    background-color: var(--c-hover);
}

.profile__button.profile__button_selected::after {
    content: none;
}

.profile__button::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    width: 260px;
    background-color: var(--c-hover);
    height: 1px;
}

.profile__main {
    display: flex;
}

#profile, #photo, #comments {
    position: relative;
    top: calc(-1 * var(--header-height) - 5px);
}

.profile-section {
    margin: 0 0 30px 0;
}

@media (max-width: 1000px) {
    .profile__actions_fake,
    .profile__actions {
        display: none;
    }
}