.comments__title {
    padding: 10px 0;
    margin: 0 0 20px 0;
    text-align: center;
}

.comments__body {
    display: flex;
}

.comments__leftCol {
    flex: 1 1 auto;
    padding: 0 50px 0 0;
}

.comments__rightCol {
    padding: 52px 0 0 0 ;
}

.comments__profile {
    margin: 0 0 25px 0;
}