.SpecialistRegistration__item {
    margin: 0 0 40px 0;
}

.SpecialistRegistration__item:last-child {
    margin:  0;
}

.SpecialistRegistration__about {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--c-bg-2);
    width: 100%;
    color: var(--c-t);
    min-height: 100px;
    font-size: 16px;
    letter-spacing: 1px;
    resize: vertical;
}

.SpecialistRegistration .container {
    max-width: 700px;
}

.SpecialistRegistration__actions {
    display: flex;
    justify-content: center;
}

.SpecialistRegistration__agreement {
    margin: 0 0 40px 0;
}